[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyQt5 = "*"
musicbrainzngs = "*"
psutil = "*"
humanize = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.python-mpd2]
git = "git://github.com/Mic92/python-mpd2.git"
